html {
	font-size:25px ;
}
body {
	font-family:sans-serif ;
	font-size:0.5rem ;
	box-sizing: border-box ;
	line-height:1rem  ;
	text-align: justify ;
	text-justify: inter-ideograph ;
}

section {
	margin:1rem 0 1rem 0 ;
}

p {
	font-size:0.5rem ;
	line-height:1rem ;
	margin: 1rem 0 1rem 0 ;
	padding:0 ;
}
section.SH1 > p {
	text-align:center ;
}
h1 {
	font-size:2rem ;
	line-height:4rem ;
	margin:0 0 1rem 0  ;
	padding:0 ;
	text-align:center ;
}
h2 {
	font-size:1.0rem ;
	line-height:2rem ;
	margin:0 0 1rem 0 ;
}
h3 {
	font-size:0.8rem ;
	line-height:2rem ;
	margin:0 0 1rem 0 ;
	font-weight:400 ;
}
h4 {
	font-size:0.6rem ;
}
table {
	border:1px solid black ;
	border-collapse: collapse ;
	margin: 1rem 0 1rem 0 ;
}
td,th {
	border:1px solid black ;
	padding:0.2rem ;
}
ul,ol {
	margin: 1rem 0 1rem 0 ;	
}
li > ul,ol {
	margin: 0 ;
}
pre {
	font-family: monospace ;
	padding:0.5rem ;
	margin: 1rem 0 1rem 0 ;
	border:1px solid black ;
	border-radius: 5px ;
}
blockquote {
	border-left:5px solid #888 ;
	margin: 1rem 0 1rem 0 ;
}
img {
	max-width:90% ;
}
figure {
	margin:1rem ;
}
figcaption {
	font-size:0.6rem ;
	font-weight:bold ;
}

section p,pre,blockquote,section:not(.SH1) {
	margin-left:1rem ;
}
section > ul,ol,table {
	margin-left:1rem ;
}
section.COVER {
	counter-reset: page ;
}
section.PAGERESET {
	counter-reset: page ;
}
section.MARGIN1 {
	margin-left:5rem ;
}
section.COVER {
	margin:0 ;
	padding:0 ;
}
section.COVER h1 {
	margin-left :0 ;
	margin-top:50mm ;
	text-align:center ;
	font-size:2rem ;
	border:none ;
}
section.COVER h2 {
	margin-left:0 ;
	margin-top:50mm ;
	text-align:center ;
	font-size:1rem ;
	text-decoration: none;
	border:none ;
}
section.SH1 {
	page-break-after:always
}

section.NOTITLE h1 {
	display:none ;
}
section.NOTITLE h2 {
	display:none ;
}
section.NOTITLE h3 {
	display:none ;
}
section.NOTITLE h4 {
	display:none ;
}
@page {
	size:A4 ;
	margin:20mm 15mm 20mm 10mm  ;

  @bottom-center {
    content: "- " counter(page) " -" ;
    margin-top:-1rem ;
    writing-mode: horizontal-tb;
    /* CSS仕様上は@pageルール内に書けばよいが、現時点のvivliostyle.jsの制限によりここに書く */
    section.COVER {
	    content: "" ;
    }
  }
}

@media screen {
	html {
		font-size:32px ;
		width:1000px ;
	}
	body {
		margin:1rem ;
		background-color:#ccc ;
	}
	section {
		
	}
	section.SH1 {
		background-color:#fff ;
		padding:1rem ;
		margin-bottom:1rem ;
	}
}
