ul,ol,dl {
	border-left:1px dotted blue ;
}
li,dt,dd {
	background-color:white ;
}
ul:before,ol:before {
	margin-left:-2em ;	
}
ul.c:before,ol.c:before,dl.c:before {
	content:"▼";
}
ul:before,ol:before,dl:before{
	content:"▷";
}