@charset "UTF-8" ;

html {
	font-size:30px ; /*全体の文字サイズはここで調整*/
}

/* カウンタ付き見出し */
section.COVER {
	counter-reset:section1 ;
}
section.NUM  h1 {
	counter-reset:section2 ;
}
section.NUM > h1:before {
	counter-increment: section1 ;
	content: "[ " counter(section1) " ] " ;
}
section.NUM > h2 {
	counter-increment: section2 ;
}
section.NUM > h2:before {
	content: "■" counter(section1) "-" counter(section2) ;	
}
section.SH2 {
	margin-left: 0;
        page-break-after:always ;
}
section.SH1 > p {
	margin-left:0 ;
}
h1 {
	font-size:1.6rem ;
	border-bottom:2px solid #444 ;
}
h2 {

}
h2:before {
content:"■" ;
}
h3 {
	border-bottom:1px solid #888 ;

}
strong {
	font-wieght:bold  ;
}

/* マージン付きセクション */
section[data-margin="1"] {
	margin-left:4rem ;
	margin-right:4rem ;
}

/* ボーダー付きセクション */
section[data-border="1"] {
	border:1px solid black ;
	padding: 1rem 1rem 1rem 1rem ;
	margin-bottom:2rem ;
}

/* 画像サイズ */
img[data-size="50"] {
	width:50mm  ;
	margin-right:1rem ;
}
p {
	margin-right:3rem ;
}
p:after {
	clear:both ;
}
img[data-size="100"] {
	width:100mm  ;
}

img[data-size="50"] + figcaption {
	width:50mm ;
	text-align:center ;
}


